body {
    background-color: black;
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.the-traffic-lights {
    background-color: #ccc;
    max-width: fit-content;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.a-single-light {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.active {
    box-shadow: -4px -4px 8px 4px white;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}